* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 14px;
}

.App {
    text-align: center;
}

.image-list {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    
    margin: 10px;
}