* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 14px;
}

.App {
    text-align: center;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}